# Ignorer toutes les vidéos sauf tik.mp4
/static/videos/*.mp4
!static/videos/tik.mp4

# Suivi des APK dans static/uploads/apps
# On ne veut pas ignorer ce dossier
# Donc on supprime toute mention .apk
# Ne rien mettre ici pour ce dossier si tu veux que git les suive

# Python cache
__pycache__/
*.pyc
*.pyo

# Flask / migrations
migrations/__pycache__/

# Autres dossiers temporaires
/static/uploads/profiles/
internal_uploads/
